/* palette:
    "Alice Blue":"#f1f6f9"
    "Charcoal":"#264653"
    "Persian Green":"#2a9d8f"
    "Orange Yellow Crayola":"#e9c46a"
    "Sandy Brown":"#f4a261"
    "Burnt Sienna":"#e76f51"
*/
* {padding: 0; margin: 0;
    font-size: 4vmin;
    color: #264653;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: -0.05vmin;
    font-weight: 700;
    line-height: 4vmin;
}

body {
    background-color: #2a9d8f;
    display: grid;
    grid-template-columns: 1fr 15vmin 45vmin 15vmin 1fr;
    grid-template-rows: 1fr 15vmin 1fr 75vmin 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: sans-serif;
    text-align: center;
    min-height: 97vmin;
}

div {
    border-radius: 2vmin;
}

input {
    outline: none;
    border: none;
    border-radius: 2vmin;
}

#input-box {
    background-color: #e9c46a;
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-rows: 4vmin 1fr 4vmin;
    grid-template-columns: 4vmin 1fr 4vmin 1fr 4vmin;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

input[type=text] {
    grid-column: 2;
    grid-row: 2;
    background-color: #f1f6f9;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

input[type=button] {
    grid-column: 4;
    grid-row: 2;
    background-color: #e76f51;
    transition: all 0.06s ease;
}

input[type=button]:hover {
    transform: translate(-0.5vmin, -0.5vmin);
    box-shadow: 0.5vmin 0.5vmin #264653;
}

input[type=button]:active {
    transform: translate(0vmin, 0vmin);
    box-shadow: 0.35vmin 0.35vmin #264653 inset, -0.35vmin -0.35vmin #e9c46a inset;
}

#sketch-box {
    background-color: #f4a261;
    grid-column: 2/5;
    grid-row: 4;
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1.5vmin;
}

#sketch-box>p {
    grid-column: 1;
    grid-row: 1;
    font-size: 8vmin;
    line-height: 8vmin;
}

#sketch-box>div {
    width: 75vmin;
}

#sketch-box>div>div {
    border-radius: 0;
    background-color: #f1f6f9;
    float: left;
    transition: background-color 0.03s linear;
}

.colored {
    background-color: #264653 !important;
}

/* rounds borders of corner cells */
.first-row div:first-child {
    border-top-left-radius: 2vmin !important;
}

.first-row div:last-child {
    border-top-right-radius: 2vmin !important;
}

.last-row div:first-child {
    border-bottom-left-radius: 2vmin !important;
}

.last-row div:last-child {
    border-bottom-right-radius: 2vmin !important;
}